<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Document</title>
    <script src="js/angular.min.js"></script>
</head>
<body ng-app="memberModule" ng-controller="LoginController">
<div >
    <form action="">
        <div>
       Name <input type="text" name="email" ng-model="person.name">
        </div>
        <div>
            Email <input type="text" name="email" ng-model="person.email">
        </div>

        <div>
            <input type="button" name="btnSubmit" value="Add" ng-click="add()">
            <input type="reset" value="Reset">
        </div>
    </form>
</div>
<div>
    <ul>
        <li ng-repeat="person in listName">
            {{person.name}}-{{person.email}}

        </li>
    </ul>
</div>
<script src="index.js">
</script>

</body>
</html>